node_modules
package-lock.json
.env.development
.env.test
.env.production
coverage
.vscode
.DS_Store
seeders/audio/output
seeders/audio/song-titles.json
seeders/audio/uploadSongs.js
seeders/audio/download_songs.py